body
{
    background-image: url('/images/bg-image.png');
}

.headings
{
    font-family: 'Style Script', cursive;
    font-size: 6em;
    font-weight: 900;
    color: crimson;
    padding: 2rem 0 0 0;
    margin: 0;
    overflow-x: hidden;
}

.heading2
{
    font-family: 'Montserrat', sans-serif;
    color: crimson;
    font-size: 3rem;
    font-weight: 900;
    padding: 1rem;
}

hr{
    border: dotted #f3b2ba;
    border-width: thick;
    border-bottom: none;
    width: 3%;
    margin: 70px auto;
     
}
.contents
{
    background-image: linear-gradient(crimson,rgb(236, 72, 105));
}
h3
{
    color: white;
}
ul,p
{
    color: white;
}
.sections
{
    background-image: url('images/bg-image.png');
}